.content {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(red, green, blue, alpha);
  }

  .business-image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }